!!! 5
html(lang="ru")
	head
		block head_style
			link(rel="stylesheet", href="/css/bootstrap.min.css")
		block head_script
			script(src="js/knockout-2.2.0.js")
			script(src="/js/jquery.min.js")
			script(src="/js/knockout-2.2.0.js")
			script(src="/js/main.js")
		block title
			title Object manager
	body
		.container
			block content
				| Content here